<!-- <%- include ('../util/_header');%> -->
<link rel="stylesheet" href="/css/user_profile.css">

<h1 >User Profile</h1>
<h2 class="name"><%= user.name %></h2>
<h2 class="email"><%= user.email %></h2>
<!-- <%- include ('../util/_footer');%> -->
